---

---

<a href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MGx0ZTF1Zjc4anE0bTZuYnBlNGlmYzltNmcgYW5kZXJydWl6cnVpekBt&tmsrc=anderruizruiz%40gmail.com" target="_blank" rel="noopener noreferrer" class="mt-4 bg-rose-500 text-white p-2 rounded-md hover:bg-rose-600">Recordar Evento </a>