---

---

<div class="p-6 bg-white bg-opacity-90 rounded-lg shadow-lg max-w-3xl mx-auto overflow-y-auto max-h-[90vh]">
      <h2 class="text-3xl font-bold mb-6 text-pink-500 text-center">Mi Carta para Ti</h2>
      <p class="text-gray-800 mb-4">
        Mi Amada Brenda,
      </p>
      <p class="text-gray-800 mb-4">
        Desde el primer momento en que te vi, supe que había algo extraordinario en ti. Cada día contigo es un descubrimiento, una nueva razón para sonreír y un recordatorio de lo profundo que es el amor que compartimos.
      </p>
      <p class="text-gray-800 mb-4">
        Recuerdo con cariño todos esos instantes en los que hemos reído juntos, y también esos momentos de silencio, en los que nuestras miradas se entendían sin necesidad de palabras. Has llenado mi vida de color y esperanza, y has sido mi compañera, mi amiga y mi gran amor.
      </p>
      <p class="text-gray-800 mb-4">
        Quiero que sepas que cada detalle que compartimos se convierte en un tesoro que guardo en lo más profundo de mi corazón. Tus gestos, tus palabras y hasta tus silencios me inspiran a ser una mejor persona cada día. En este día tan especial, quiero celebrar contigo no solo el amor que nos une, sino también la amistad y la complicidad que hacen de nuestra relación algo único e irrepetible.
      </p>
      <p class="text-gray-800 mb-4">
        Este 14 de febrero es más que una fecha en el calendario; es el símbolo de la promesa que me hiciste y que yo, con cada latido, reafirmo. Prometo seguir caminando a tu lado, cuidando y valorando cada instante que compartimos. Quiero que este día sea un recordatorio de nuestro compromiso, de los sueños que hemos construido juntos y de los que aún nos quedan por realizar.
      </p>
      <p class="text-gray-800 mb-4">
        Gracias por ser tú, por iluminar mi vida y por hacerme sentir que cada día es una nueva oportunidad para amar y ser amado. Te amo con toda mi alma y espero seguir escribiendo juntos esta hermosa historia de amor.
      </p>
      <p class="text-gray-800 mb-4">
        Con todo mi amor,
      </p>
      <p class="text-gray-800 mb-4">
        Ander
      </p>
    </div>