---

---

<header class="sticky inset-x-0 bottom-0  w-full h-12 py-4">
    <nav class="flex justify-center items-center gap-2  justify-around bg-rose-500 text-white">
        <a href="/love-letter" class="flex flex-col items-center text-center font-bold justify-center">Sorpresa 1</a>
        <a href="/cita" class="flex flex-col items-center text-center font-bold justify-center">Sorpresa 2</a>
        <!-- <a href="/tickes" class="flex flex-col items-center text-center font-bold justify-center">Sorpresa 3</a> -->
        <!-- <a href="/game" class="flex flex-col items-center text-center font-bold justify-center">Sorpresa 3</a> -->

    </nav>
</header>