---
import FloatingHearts from '../components/bg/FloatingHearts'
import '../styles/global.css'
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />

		<meta name="generator" content={Astro.generator} />
		<title>San Valentin - Brenda</title>
	</head>
	<body class="relative min-h-screen bg-pink-200">
		<FloatingHearts client:load />
	<!-- <Welcome /> -->
	<div class="absolute inset-0 flex flex-col items-center justify-center z-10">
		<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
